<section class="section">
  <div class="container">
    <p class="title">View Offers</p>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Seller name</th>
          <th>Notes</th>
          <th>Amount</th>
          <th>Deliver in</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% if @offers.blank? %>
          <tr>
            <td colspan="7" class="has-text-centered"><h1>NOTHING TO SHOW HERE</h1></td>
          </tr>
        <% end %>
        <% @offers.each do |o| %>
          <tr>
            <th><%= o.created_at.strftime('%d, %b %Y') %></th>
            <th>
              <label class="tooltip" data-tooltip= "<%= o.user.full_name %>">
                <figure class="image is-48x48">
                  <%= image_tag avatar_url(o.user), class: "is-rounded" %>
                </figure>
              </label>
            </th>
            <th><%= o.note %></th>
            <th>$<%= o.amount %></th>
            <th><%= pluralize(o.days, 'day') %></th>
            <th>
              <span class="tag <%= 'is-warning' if o.pending? %>
                                <%= 'is-success' if o.accepted? %>
                                <%= 'is-danger' if o.rejected? %> ">
                <%= o.status.capitalize %>
              </span>
            </th>
            <th>
              <% if o.pending? %>
                <%= link_to accept_offer_path(o), method: :put,
                                data: { confirm: "Are you sure you want to accept it?" },
                                class: "button is-small is-primary is-outlined #{'is-hidden' if !o.pending?}" do %>
                  <span class="icon"><i class="fas fa-check-circle fa-lg"></i></span>
                  <span>Accept</span>
                <% end %>
                <%= link_to reject_offer_path(o), method: :put,
                                data: { confirm: "Are you sure you want to reject it?" },
                                class: "button is-small is-danger is-outlined #{'is-hidden' if !o.pending?}" do %>
                  <span class="icon"><i class="fas fa-times-circle fa-lg"></i></span>
                  <span>Reject</span>
                <% end %>
              <% else %>
                <span>No Actions</span>
              <% end %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
