<section class="section" data-channel-subscribe="order" data-order-id="<%= @order.id %>">
    <div class="container">
        <div class="columns">

            <!-- LEFT SIDE -->
            <div class="column is-two-thirds">
                <p class="menu-label">
                    Comments on your order
                </p>
                <hr>
                <div id="comment-list">
                    <% @comments.each do |c| %>
                        <%= render 'orders/comment', comment: c %>
                    <% end %>
                </div>
                <hr>
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">                            
                            <%= image_tag avatar_url(current_user), class: "is-rounded" %>
                        </p>
                    </figure>
                    <div class="media-content">
                        <%= form_with model: Comment.new, id: "new-comment" do |f| %>
                            <%= f.hidden_field :order_id, value: @order.id %>
                            <div class="field">
                                <%= f.text_area :content, class: "textarea", placeholder: "I have a question" %>
                            </div>
                            <div class="field is-pulled-right">
                                <%= f.submit "Post comment", class: "button is-primary" %>                      
                            </div>
                        <% end %>
                    </div>
                </article>
            </div>

            <!-- RIGHT SIDE -->
            <div class="column">
                <div class="card">
                    <div class="card-image">                        
                        <figure class="image is-3by2">
                            <%= image_tag design_cover(@design) if @design %>
                            <%= image_tag 'icon_default_image.png' if @request %>
                        </figure>
                    </div>
                    <div class="card-content">
                        <p>
                            <strong><%= @order.title %></strong>
                            <strong class="title is-4 is-pulled-right has-text-success">$<%= @order.amount %></strong>
                        </p>
                        <br>
                        <small>
                            <p><strong>Seller:</strong> <%= @order.seller_name %></p>
                            <br>
                            <p><strong>Order: </strong><%= @order.id %></p>
                            <br>
                            <p><strong><%= @order.created_at.strftime('%d, %b %Y') %></strong></p>  
                        </small>                    
                    </div>                   
                </div>
            </div>

        </div>
    </div>
</section>